/* _contact.scss */
@use "../utilities/variables" as var;
@use "../utilities/mixins" as *;

.contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px var.$color-gray;
    border-radius: var.$border-radius;
    padding: 2rem 0;
    margin: 0 0.5rem 4rem;
    background: white;
    text-align: center;
    position: relative;
    @include responsive-width;
  }

  &__elements {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
    max-width: 22rem;
  }

  &__title {
    @include section-title;
  }

  &__input {
    width: 100%;
  }
}