/* home */

@use "../utilities/variables" as var;
@use "../base/typography" as type;
@use "../components/card";

body {
    font-family: type.$font;
    background: var.$color-lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: 700;
    margin: 4rem 0;
    font-size: 2.5rem;
}